.movielist2,
.movielist3 {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.movielist4 {
  flex-grow: 1;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
