.App {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a:link {
  text-decoration: unset;
}
a:hover {
  color: #21df8b;
}
a:active {
  color: #21df8b;
}
